<div class="container">

  <div>
    <button (click)="addServedAmount('+')">+</button>
    <button (click)="addServedAmount('-')">-</button>
    <p>Served amount: {{ servedAmount() }}</p>
  </div>
  <div>
    <p class="name">{{ recipe().name }}
      @if (recipe().isFavorite) {
      <span>⭐</span>
      }
    </p>
    <p class="description">{{ recipe().description }}</p>
  </div>


  <div class="child-container">
    <img class="image" [src]="recipe().imgUrl">

    <div>
      @for (ingredient of adjustedIngredients(); track ingredient.name) {
      <p>{{ ingredient.name }}: {{ ingredient.quantity }} {{ ingredient.unit }}</p>
      }
    </div>
  </div>
</div>